<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2018-04-13
«Redirect customers to a proper store by checking his IP address»:
https://github.com/mage2pro/frugue.com/issues/2
-->
	<type name='Magento\Framework\App\FrontControllerInterface'>
		<plugin
			name='Frugue\Store\Plugin\Framework\App\FrontControllerInterface'
			type='Frugue\Store\Plugin\Framework\App\FrontControllerInterface'
		/>
	</type>
</config>